.boards {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.board_list {
    display: block;
    border: #ffff;
    color:  #1f1f20;
    font-family: "Roboto";
    padding: 0;
    margin: 2rem;
    list-style-type: none;
    border-radius: 10px;
    width: 330px;
    height: 450px;
    margin-top: 5rem;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    
}

.board_list:hover {
        top: -20px;
    }

ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    
}

h2 {
    font-size: 30px;
    margin: 1rem;
    text-align: center;
}

.comments {
    margin: 1.2rem;
    color: #ffff;
    width: 320px;
}

/* LIST OF SESSIONS BUTTONS */
.board-edit-btn,.board-delete-btn, .edit-flowBoard-btn, .cancel-flowBoard-btn  {
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    border-radius: 12px;
    border: 1px solid rgb(44, 153, 241);
    color: black;
    margin: 0.5rem;
    font-size: 12px;
    padding: 0.4rem;
    font-family: "Oswald Bold", sans-serif;
    letter-spacing: 1px;
    width: 8rem;
    margin-top: 1rem;
}

.board-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ADD A NEW IDEA BUTTON */
.new_pin {
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    border-radius: 12px;
    border: 1px solid rgb(44, 153, 241);
    color: black;
    width: 13rem;
    font-size: 12px;
    padding: 0.4rem;
    margin-top: 1rem;
    margin-left: 4rem;
    font-family: "Oswald Bold", sans-serif;
    letter-spacing: 1px;
}
.board_img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 25rem;
    border: 3px white solid;
    margin: 1rem;
    
  
}

/* SEARCH BAR */
.board_search_bar {
    border-radius: 10px;
    width: 26rem;
    height: 1.5rem;
    color: black;
    font-size: 12px;
    margin-left: 4rem;
    margin-bottom: 1rem;
}


