.img-container {
    position: flex;
    text-align: center;
}

.camera-image {
    display: flex;
    flex-wrap: wrap;
    width: 37rem;
    height: 37rem;
    opacity: 40%;
    margin-left: 3rem;
} 

.row {
    position: absolute;
    flex-wrap: wrap;
    margin-left: 4rem;
    padding: 0;
    transform: translateY(-30%);
    top: 40%;
    color: #ffff;
    font-size: 6.5rem;
    
}

span {
    letter-spacing: 0.2em; 
}
h1 span {
    opacity: 0;
    animation: animate 0.4s linear forwards;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        filter:blur(8px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}


h1 span:nth-child(1){
    animation-delay: 0.2s;
}
h1 span:nth-child(2){
    animation-delay: 0.3s;
}
h1 span:nth-child(3){
    animation-delay: 0.4s;
}
h1 span:nth-child(4){
    animation-delay: 0.5s;
}
h1 span:nth-child(5){
    animation-delay: 0.6s;
}
h1 span:nth-child(6){
    animation-delay: 0.7s;
}
h1 span:nth-child(7){
    animation-delay: 0.8s;
}
h1 span:nth-child(8){
    animation-delay: 0.9s;
}
h1 span:nth-child(9){
    animation-delay: 1s;
}