body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Squada One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* MAIN BACKGROUND COLOR */
  background: #232931
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*#252525*/
