.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.navbar__item {
    margin: 2rem;
    padding: 0.5rem;
    list-style: none;
    color: #ffff;
    text-align: center;
    letter-spacing: 0.5px;
    border-radius: 3px;  
}

.navbar__logout {
    letter-spacing: 0.5px;
}

.navbar__link__home, .navbar__link__sessions, .navbar__link__logout, .navbar__link__board {
    color: #ffff;
    text-decoration: none;
    font-size: 18px;   
}

 .navbar__item:hover {
    background-color: #1c87d4;
    border-radius: 5px;
    transition: 0.2s ease; 
} 

.logo {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 0 10px;
}



