.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;

}

.navbar__item {
    display: inline-block;
    flex-basis: 30%;
    list-style-type: none;
    color: #ffff;
    text-align: center;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link__home, .navbar__link__sessions, .navbar__link__logout, .navbar__link__board {
    color: #ffff;
    text-decoration: none;
    font-size: 18px;   
}

.logo {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 0 10px;
}