
fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.3rem;
}


.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    
}

.form--login > fieldset > input[type="email"] {
    width: 30em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;

}

.container--login {
    text-align: center;
    margin-top: 10rem;
}


.welcome {
    font-family: "Oswald", sans-serif;
    color: #ffff;
    font-size: 2.5rem;
    text-align: center;
}

.sign-in-heading {
    text-align: center;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.account {
    color: #ffff;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
}

.sign-in-btn {
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    border-radius: 12px;
    border: 1px solid rgb(44, 153, 241);
    color: black;
    font-size: 14px;
    padding: 0.2rem;
    font-family: "Oswald Bold", sans-serif;
    letter-spacing: 1px;
    width: 7rem;
}

