
.create-my-account-btn {
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    border-radius: 12px;
    border: 1px solid rgb(44, 153, 241);
    color: black;
    font-size: 12px;
    padding: 0.2rem;
    font-family: "Oswald Bold", sans-serif;
    letter-spacing: 1px;
    width: 13rem;
}
.register-section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-an-account-title{
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #ffff;
    font-size: 30px;
}


